workflowChatbot.json
{
  "name": "Chatbot Ollama Phi3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6f4fec30-3a0d-4a6c-8a57-ce8bb5e90100",
      "name": "Webhook",
      "webhookId": "156a6953-0703-4e78-a267-eff1e1c612cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7f46884-a1f3-4023-b8fe-6b76fe259db1",
              "name": "prompt",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "6c4d1501-2f05-4706-911a-685bf060257a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:3b\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"stream\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "51ffd3ad-9c34-4c2c-b36c-93f9f16aaa50",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        608,
        0
      ],
      "id": "bf02fac1-4ce0-4e7f-8b1f-c2285efb8595",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "21"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "nothing"
          },
          "webhookUrl": "http://localhost:5678/webhook/chatbot",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d9cf2a4c-f245-49e4-b422-113766d6ec88",
  "meta": {
    "instanceId": "6321f4a75ea153ffd89a8f36ff629d99a2485cb1396a2170d7fd3bfba5ed8e9a"
  },
  "id": "ZLbTTqZaPVhva74BzJPJ9",
  "tags": []
}